:root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    --text-color-std: rgb(255,255,255);
    --text-color-danger: rgb(255,23,23);
    --text-color-granted: rgb(1,255,100);
    --text-color-grey: rgb(100,100,100);
    --text-color-yellow: rgb(252, 223, 5);
    --text-size-small: 8px;
    --text-size-medium: 16px;
    --text-size-big: 24px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title{
    color: var(--text-color-yellow);
    font-size: var(--text-size-big);
    margin-bottom: 0;
}
.ss-title{
    color: var(--text-color-std);
    font-size: var(--text-size-medium);
}
input {
    margin-top: 20px;
    width: 70%;
    border-radius: 10px;
    text-align: center;
}
.version {
    color: var(--text-color-grey);
    font-size: var(--text-size-small);
}

.search-area{
    margin-top: 30px;
}

.butt {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button{
    color: var(--text-color-grey);
    font-size: var(--text-size-medium);
    background-color: var(--text-color-yellow);
    width: 150px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover {
    background-color: var(--text-color-grey);
    color: var(--text-color-yellow);
    transition-duration: 0.5s;
}

.view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.trait {
    border-bottom: 1px solid var(--text-color-yellow);
    margin: 5px 0;
}

.view .img_pokemon {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.pok-title{
    color: var(--text-color-yellow);
    font-size: var(--text-size-medium);
}

.specs_title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--text-color-granted);

}
.specs_evol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-color-std);
}

.name {
    color: var(--text-color-danger);
}

.div_types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--text-color-std);
}

.img_type {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.footer {
    color: var(--text-color-grey);
    font-size: var(--text-size-small);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}